<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Font Finder</title>

    <!--- Rig Solid Font-->
    <link rel="stylesheet" href="https://use.typekit.net/uzy6jyr.css">

     <!--- Baskerville-->
    <link rel="stylesheet" href="https://use.typekit.net/uzy6jyr.css">



    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="rid.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/font.js" charset="utf-8" defer></script>
    <script src="/index.js" chraset="utf-8" defer></script>

  </head>
  <body>

    <header>

      <div class="header-image-container">
      <!--  <img src="benny.jpg" alt="ff logo">-->
      </div>

      <h1 class="site-title"><a href="#">Font Finder</a></h1>

    </header>
    {{{body}}}
    </body>
</html>
