<main class="content">
  <div class="dropdown">
        <div class="select">
          <label for="font"> SELECT FONT </label>
        </div>
            <div class="font">
                <select id="inputFont" class="dropdown-content" name="filter-city">
                <option selected value="10">Choose</option>
                <option value="0">Arial</option>
                <option value="1">Arial Black</option>
                <option value="2">Comic Sans MS</option>
                <option value="3">Impact</option>
                <option value="4">Lucida Sans Unicode</option>
                <option value="5">Tahoma</option>
                <option value="6">Trebuchet MS</option>
                <option value="7">Verdana</option>
                <option value="8">Courier New</option>
                <option value="9">Lucida Console</option>
                </select>
            </div>
            <button type="button" id="update">Update</button>
    </div>

    {{>output}}

</main>
