.site-title {
    font-family: "rig-solid-medium-outline", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    margin: 0 0 0 20px;
    padding-top: 30px;
}

.site-title a{
  text-decoration: none;
}

header {
  background-color: #ffec89;
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
  
.dropdown-content {
  justify-content: right;
}

/* .font{
  /*transform: translate(-50%, -50%);*/
  /* margin-left: auto;
  margin-right: 20px;
  background: #ffec89;
  color: blueviolet;
  padding: 10px;
  width: 250px;
  height: 50px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.5);  */
/*  } */ */

.chosen-font h2{
  font-family: baskerville-display-pt, serif;
  font-weight: 400;
  font-style: normal;
}
  
.paired-font {
  font-family: baskerville-display-pt, serif;
  font-weight: 400;
  font-style: normal;
}

.paired-font h2{
  font-family: "rig-solid-medium-outline", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chosen-font{
  font-family: "rig-solid-medium-outline", sans-serif;
  font-weight: 500;
  font-style: normal;
}
  
.doggo{
  font-family: "rig-solid-medium-outline", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.output{
  width: 100%;
}

.content{
  display: flex;
}


/* .body{
  background-color:lightblue;
}
.site-title {
    font-family: halyard-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    margin: 0 0 0 20px;
    padding-top: 30px;
  }

  .site-title a{
    text-decoration: none;
  }

  .header {
    background-color: #ffec89;
    display: flex;
    align-items: center;
    position: relative;
  }

   .dropdown {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  } 

  .dropdown-content {
    justify-content: right;
  }

  .font{
    /*transform: translate(-50%, -50%);*/
    /*margin-left: auto;
    margin-right: 20px;*/
    background: #ffec89;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5); 
  } 

  .chosen-font h2{
    font-family: baskerville-display-pt, serif;
    font-weight: 400;
    font-style: normal;
  }

  .paired-font {
    font-family: baskerville-display-pt, serif;
    font-weight: 400;
    font-style: normal;
  }

  .paired-font h2{
    font-family: "rig-solid-medium-outline", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .chosen-font{
    font-family: "rig-solid-medium-outline", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .doggo{
    font-family: "rig-solid-medium-outline", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .output{
    
    width: 100%;
  }

  .content{
    display: flex;
  }

  .header-image-container{
    display: block;
    max-width: 100%;
    height: auto;
    padding: 15px;
  } 
 */
